# Sequence Type

## Create a String

In [2]:
a="You are Awsome"
print(a)

You are Awsome

In [7]:
b="""You are 
the creature 
of your Destiny"""
print(b)

You are
the creature
of your Destiny

In [8]:
print(b[0])

Y

In [9]:
print(b[2])

u

In [11]:
print(b*2)

You are
the creature
of your DestinyYou are
the creature
of your Destiny

In [15]:
#getting length
print(len(b))
print(len(a))

38
14

## Slicing a String

In [23]:
b="""You are 
the creature 
of your Destiny"""
print(b)

You are
the creature
of your Destiny

In [17]:
print(b[0:5])

You a

In [18]:
print(b[0:])

You are
the creature
of your Destiny

In [19]:
 print(b[:8])

You are

In [21]:
print(b[-3:-1])

in

## Steps in slicing

In [25]:
b="""You are 
the creature 
of your Destiny"""
print(b)
print(len(b))

You are
the creature
of your Destiny
38

In [27]:
x="abcdefghijklmnopqrstuvwxyz"
print(x)
print(len(x))

abcdefghijklmnopqrstuvwxyz
26

In [31]:
print(x[0:25:2])

acegikmoqsuwy

In [35]:
print(x[26::-1])

zyxwvutsrqponmlkjihgfedcba

In [36]:
#for reversing string
print(x[::-1])

zyxwvutsrqponmlkjihgfedcba

### Strip the Spaces

In [37]:
a="  Hey, Hello World!!!  "
print(a)

  Hey, Hello World!!!

In [38]:
print(a.strip())

Hey, Hello World!!!

In [39]:
print(a.lstrip())

Hey, Hello World!!!

In [40]:
print(a.rstrip())

  Hey, Hello World!!!

### Few more string methods

In [52]:
 x="abcdefghijklmnopqrstuvwxyz"

In [42]:
print(x.find("cd"))

2

In [43]:
print(x.find("z"))

25

In [45]:
print(x.find("z"),21,26)

25 21 26

In [46]:
print(x.find("y"),21,len(x))

24 21 26

In [47]:
print(x.count("a"))

1

In [54]:
print(x.replace("a", "b"))

bbcdefghijklmnopqrstuvwxyz

In [61]:
p="hi my name is prashant"

print(p.upper())
print(p.lower())
print(p.title())

HI MY NAME IS PRASHANT
hi my name is prashant
Hi My Name Is Prashant

# List

In [66]:
#slicing
lst=[10, 20, "Prashant", -10, 25.5]
print(lst)

[10, 20, 'Prashant', -10, 25.5]

In [67]:
print(lst[2:5])

['Prashant', -10, 25.5]

In [68]:
print(lst[4])

25.5

In [69]:
print(lst[::-1])

[25.5, -10, 'Prashant', 20, 10]

In [70]:
print(lst*4)

[10, 20, 'Prashant', -10, 25.5, 10, 20, 'Prashant', -10, 25.5, 10, 20, 'Prashant', -10, 25.5, 10, 20, 'Prashant', -10, 25.5]

In [71]:
print(len(lst))

5

### Add remove elements from list

In [72]:
print(lst)

[10, 20, 'Prashant', -10, 25.5]

In [73]:
lst.append("Walunj")
print(lst)

[10, 20, 'Prashant', -10, 25.5, 'Walunj']

In [76]:
lst.remove(20)
print(lst)

['Prashant', -10, 25.5, 'Walunj']

In [77]:
del(lst[1:2])

In [78]:
print(lst)

['Prashant', 25.5, 'Walunj']

In [80]:
del(lst[1])
print(lst)

['Prashant', 'Walunj']

In [172]:
#Creating List of Countries
lst=["India","Shrilanka","Nepal","Bangladesh","Pakistan"]
print(lst)

#Add an country at the end 
lst.append("USA")
print(lst)

#Remove country by index
del(lst[4])
print(lst)

#Add a country in the middle 
lst.insert(2, "Burma")
print(lst)

['India', 'Shrilanka', 'Nepal', 'Bangladesh', 'Pakistan']
['India', 'Shrilanka', 'Nepal', 'Bangladesh', 'Pakistan', 'USA']
['India', 'Shrilanka', 'Nepal', 'Bangladesh', 'USA']
['India', 'Shrilanka', 'Burma', 'Nepal', 'Bangladesh', 'USA']

#### few more on list

In [81]:
lst.clear()
print(lst)

[]

In [84]:
lst=[10, 20, 50, -10, 25.5]
print(lst)

[10, 20, 50, -10, 25.5]

In [86]:
print(max(lst))
print(min(lst))

50
-10

In [91]:
lst.insert(2, 100)
print(lst)

[10, 20, 100, 100, 100, 100, 100, 50, -10, 25.5]

In [94]:
lst.sort()
print(lst)

[-10, 10, 20, 25.5, 50, 100, 100, 100, 100, 100]

In [97]:
lst.sort(reverse=True)
print(lst)

[100, 100, 100, 100, 100, 50, 25.5, 20, 10, -10]

# Tuple

In [99]:
#Tuple is like List but we cannot modify tuple .....means we cannot use modification oprations.

In [101]:
tpl=(40)
type(tpl)

int

In [102]:
tpl=(40,)
type(tpl)

tuple

In [103]:
tpl=(10,20,"Prashant",30,40,50)
print(tpl)
print(type(tpl))

(10, 20, 'Prashant', 30, 40, 50)
<class 'tuple'>

In [104]:
print(tpl[3])

30

In [105]:
print(tpl*4)

(10, 20, 'Prashant', 30, 40, 50, 10, 20, 'Prashant', 30, 40, 50, 10, 20, 'Prashant', 30, 40, 50, 10, 20, 'Prashant', 30, 40, 50)

In [106]:
print(tpl.count(40))

1

In [107]:
print(tpl.index("Prashant"))

2

## List to Tuple

In [109]:
lst=[10,20,30,"Prashant",50]
print(lst)
print(type(lst))

[10, 20, 30, 'Prashant', 50]
<class 'list'>

In [110]:
tpl=tuple(lst)
print(tpl)
print(type(tpl))

(10, 20, 30, 'Prashant', 50)
<class 'tuple'>

 ## Sets

In [111]:
# Sets does not allow duplicates and they use flower brackets.

In [112]:
st={10,20,30,"Prashant",50}
print(st)

{10, 50, 20, 'Prashant', 30}

In [114]:
#sets does not suport repetition
st={10,20,30,"Prashant",50,10,20,30}
print(st)

{10, 50, 20, 'Prashant', 30}

In [121]:
st.update([11,22,33])
print(st)

{33, 10, 11, 50, 20, 22, 'Prashant', 30}

In [122]:
st.remove(33)
print(st)

{10, 11, 50, 20, 22, 'Prashant', 30}

In [123]:
#We Cannot slice set
print(st[0])

TypeError: 'set' object is not subscriptable

In [124]:
print(st[0:5])

TypeError: 'set' object is not subscriptable

In [125]:
print(st*3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

### Frozen Set

In [137]:
#frozen sets cannot be updated or be removed.
f=frozenset(st)
print(st)

{10, 11, 50, 20, 22, 1111, 'Prashant', 30}

In [138]:
st.remove([1111])

TypeError: unhashable type: 'list'

### Range Type

In [139]:
r=range(5)

for i in r:
    print(i)

0
1
2
3
4

In [141]:
r=range(1, 6)

for i in r:
    print(i)

1
2
3
4
5

In [145]:
r=range(2,21,2)
for i in r:
    print(i)

2
4
6
8
10
12
14
16
18
20

## Bytes and Bytes Arrays

In [146]:
#no slicing or repetition aloowed on both bites or bitesrarrays

In [148]:
lst=[10,20,30,40,222]
print(type(lst))

<class 'list'>

In [154]:
byt=bytes(lst)
print(type(byt))
print(byt)

#b[3]=444
#indexing not possibke on byte array

<class 'bytes'>
b'\n\x14\x1e(\xde'

In [155]:
bytary=bytearray(lst)
print(type(bytary))

<class 'bytearray'>

In [156]:
# indexing is possible in bytearray
bytary[2]=33

# Dictionary

In [160]:
dict1={1:"John", 2:"prashan", 3:"Pranav", 4:"Pranita"}
print(dict1)

{1: 'John', 2: 'prashan', 3: 'Pranav', 4: 'Pranita'}

In [161]:
print(dict1.items())

dict_items([(1, 'John'), (2, 'prashan'), (3, 'Pranav'), (4, 'Pranita')])

In [164]:
k=dict1.keys()
for i in k:
    print(i)

1
2
3
4

In [162]:
print(dict1.keys())

dict_keys([1, 2, 3, 4])

In [163]:
print(dict1.values())

dict_values(['John', 'prashan', 'Pranav', 'Pranita'])

In [166]:
v=dict1.values()
for i in v:
    print(i)

John
prashan
Pranav
Pranita